<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.syi.project.mapper.chat.ChatRoomMapper">
  
	  <resultMap type="com.syi.project.model.chat.ChatRoomVO" id="chatRoomResultMap">
			<id property="chatRoomNo" column="CHATROOM_NO"/>
			<result property="chatRoomName" column="CHATROOM_NAME"/>
			<result property="adminNo" column="CHATROOM_ADMIN_NO"/>
			<result property="memberNo" column="CHATROOM_MEMBER_NO"/>
			<collection property="member" resultMap="memberResultMap" />
	</resultMap>
	
	
	<resultMap type="com.syi.project.model.syclass.SyclassVO" id="classResultMap">
		<id property="classNo" column="CLASS_NO"/>
		<result property="className" column="CLASS_NAME"/>
		<result property="managerName" column="MANAGER_NAME"/>
		<result property="teacherName" column="TEACHER_NAME"/>
		<result property="classStatus" column="CLASS_STATUS"/>
		<result property="adminNo" column="ADMIN_NO"/>
	</resultMap>
	
	  <resultMap type="com.syi.project.model.EnrollVO" id="enrollResultMap">
			<id property="enrollNo" column="ENROLL_NO"/>
			<result property="classNo" column="CLASS_NO"/>
			<result property="memberNo" column="MEMBER_NO"/>
			<collection property="member" resultMap="memberResultMap"/>
			<collection property="syclass" resultMap="classResultMap"/>
	</resultMap>
	
	<resultMap type="com.syi.project.model.member.MemberVO" id="memberResultMap">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberPwd" column="MEMBER_PWD"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberRole" column="MEMBER_ROLE"/>
	</resultMap>
	
	
	<!--채팅방 목록 조회  -->
	<!-- <select id="selectChatRoomList" resultMap="chatRoomResultMap">
  		SELECT A.CHATROOM_NO,A.CHATROOM_ADMIN_NO,A.CHATROOM_MEMBER_NO,B.MEMBER_NAME
  		<if test="loginMember.memberRole == 'ROLE_ADMIN'">
	  		FROM CHATROOM A JOIN MEMBER B ON(A.CHATROOM_MEMBER_NO = B.MEMBER_NO)
	  		WHERE A.CHATROOM_ADMIN_NO = #{loginMember.memberNo}
  		</if>
  		<if test="loginMember.memberRole == 'ROLE_MEMBER'">
  			FROM CHATROOM A JOIN MEMBER B ON(A.CHATROOM_ADMIN_NO = B.MEMBER_NO)
			WHERE A.CHATROOM_MEMBER_NO = #{loginMember.memberNo}
		</if>
			AND A.CHATROOM_STATUS = 'Y'
			<if test="classNo != null">
				AND 
			</if>
			<if test="cri.memberName != null">
				
			</if>
  	</select>
  	 -->
  	
  	<select id="selectChatRoomList" resultMap="chatRoomResultMap">
  		SELECT CH.CHATROOM_NO,CH.CHATROOM_NAME
  		<if test="loginMember.memberRole == 'ROLE_ADMIN'">
  			<if test="cri != null">
	  			FROM CLASS C
				INNER JOIN ENROLL E ON (C.CLASS_NO = E.CLASS_NO)
				INNER JOIN MEMBER M ON (E.MEMBER_NO = M.MEMBER_NO)
				INNER JOIN CHATROOM CH ON (M.MEMBER_NO = CH.CHATROOM_MEMBER_NO)
				WHERE CH.CHATROOM_ADMIN_NO = #{loginMember.memberNo}
	  			<if test="cri.classNo != null">
					AND C.CLASS_NO = #{cri.classNo}
	  			</if>
		  		<if test="cri.memberName != null">
		  			AND M.MEMBER_NAME like '%'||#{cri.memberName}||'%'
				</if>
			</if>
			<if test="cri == null">
				FROM CHATROOM CH
	  			WHERE CH.CHATROOM_ADMIN_NO = #{loginMember.memberNo}
			</if>
		</if>
		<if test="loginMember.memberRole == 'ROLE_MEMBER'">
  			FROM CHATROOM CH
			WHERE CH.CHATROOM_MEMBER_NO = #{loginMember.memberNo}
		</if>
		AND CH.CHATROOM_STATUS = 'Y'
		ORDER BY CH.CHATROOM_NO DESC
  	</select>
  	
  	
  	
  	<!-- <select id="selectChatRoomList" resultMap="chatRoomResultMap">
  		SELECT CH.CHATROOM_NO,CH.CHATROOM_NAME
  		<if test="loginMember.memberRole == 'ROLE_ADMIN'">
  			<if test="cri != null">
	  			FROM CLASS C
				INNER JOIN MEMBER A ON (C.ADMIN_NO = A.MEMBER_NO)
				INNER JOIN ENROLL E ON (C.CLASS_NO = E.CLASS_NO)
				INNER JOIN MEMBER M ON (E.MEMBER_NO = M.MEMBER_NO)
				INNER JOIN CHATROOM CH ON (M.MEMBER_NO = CH.CHATROOM_MEMBER_NO AND A.MEMBER_NO = CH.CHATROOM_ADMIN_NO)
				WHERE CH.CHATROOM_ADMIN_NO = #{loginMember.memberNo}
	  			<if test="cri.classNo != null">
					AND C.CLASS_NO = #{cri.classNo}
	  			</if>
		  		<if test="cri.memberName != null">
		  			AND M.MEMBER_NAME like '%'||#{cri.memberName}||'%'
				</if>
			</if>
			<if test="cri == null">
				FROM CHATROOM CH JOIN MEMBER M ON(CH.CHATROOM_MEMBER_NO = M.MEMBER_NO)
	  			WHERE CH.CHATROOM_ADMIN_NO = #{loginMember.memberNo}
			</if>
		</if>
		<if test="loginMember.memberRole == 'ROLE_MEMBER'">
  			FROM CHATROOM CH JOIN MEMBER M ON(CH.CHATROOM_ADMIN_NO = M.MEMBER_NO)
			WHERE CH.CHATROOM_MEMBER_NO = #{loginMember.memberNo}
		</if>
		AND CH.CHATROOM_STATUS = 'Y'
		ORDER BY CH.CHATROOM_NO DESC
  	</select> -->
  	
  	
  	
  	
  	
  	
  	
  	
  	  <!-- <sql id="criteria">
	  <trim prefix="AND (" suffix=")" prefixOverrides="OR">
	  <foreach collection="typeArr" item="type">
	  <trim prefix="OR">
	  <choose>
	  <when test="type == 'W'.toString()">
	  	writer like '%'||#{keyword}||'%'
	  </when>
	  <when test="type == 'H'.toString()">
	  	checkStatus like '%'||#{keyword}||'%'
	  </when>
	  <when test="type == 'C'.toString()">
	  	content like '%'||#{keyword}||'%'
	  </when> -->
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	<update id="updateChatRoomStatus" parameterType="_int">
  		UPDATE CHATROOM
        SET CHATROOM_STATUS = 'N'
        WHERE CHATROOM_NO = #{chatRoomNo}
  	</update>
  	
	
	<!-- 학생이 수강신청하는 것 조회 -->
	<!--담당자명, 수강과목명, 담당자 번호  A.MEMBER_NO 가져와??-->
  	<select id="selectEnrollList" resultMap="enrollResultMap">
  		SELECT A.CLASS_NO,A.MEMBER_NO,B.MANAGER_NAME, B.CLASS_NAME, B.ADMIN_NO
  		FROM ENROLL A JOIN CLASS B ON(A.CLASS_NO=B.CLASS_NO)
  		WHERE A.MEMBER_NO = #{memberNo}
  		ORDER BY B.ADMIN_NO
  	</select>
  	
  	
  	
  	<!--담당자가 맡은 과목 조회 -->
  	<!--수강생명, 수강과목명, 수강생 번호 -->
  	<!-- <select id="selectClassList" resultMap="enrollResultMap">
  		SELECT A.CLASS_NO,A.CLASS_NAME,B.MEMBER_NO,B.MEMBER_NAME
  		FROM CLASS A JOIN ENROLL B ON(A.CLASS_NO=B.CLASS_NO)
  		WHERE ADMIN_NO = #{memberNo}
  	</select>
	 -->
	 
	 
	<!--담당자가 맡은 과목 조회 -->
	<!--수강생명, 수강과목명, 수강생 번호 -->
	<select id="selectClassMemberList" resultMap="enrollResultMap">
		SELECT
		    M.MEMBER_NO,
		    M.MEMBER_NAME,
		    C.CLASS_NAME,
		    C.CLASS_NO
		FROM
		    ENROLL E
		    INNER JOIN CLASS C ON (E.CLASS_NO = C.CLASS_NO)
		    INNER JOIN MEMBER M ON (E.MEMBER_NO = M.MEMBER_NO)
		WHERE
		    C.ADMIN_NO = #{adminNo}
		ORDER BY M.MEMBER_NO
  	</select>
	
	<select id="selectAdminClassList" resultMap="classResultMap">
		SELECT
		    CLASS_NAME,
		    CLASS_NO
		FROM
		    CLASS
		WHERE
		    ADMIN_NO = #{adminNo}
	</select>
	
	
	
	<!--채팅방이 존재하는지 카운트로 확인   -->
	<select id="selectCountOneRoomList" resultType="_int">
		SELECT COUNT(*)
		FROM CHATROOM
		WHERE CHATROOM_MEMBER_NO = #{memberNo}  AND CHATROOM_ADMIN_NO = #{adminNo}
	</select>
	
	
    <!--채팅방 개설  -->
  	<insert id="insertChatRoom">
  		INSERT INTO CHATROOM(
  			CHATROOM_ADMIN_NO,
  			CHATROOM_MEMBER_NO
  		)
  		VALUES(
  			#{adminNo},
  			#{memberNo}
  		)
  	</insert>
  	
  	
  	
  	
  	<!-- <select id="selectAdminNoByClassNo" resultMap="enrollResultMap">
  		SELECT ADMIN_NO
  		FROM ENROLL A JOIN CLASS B ON (A.CLASS_NO = B.CLASS_NO)
  		WHERE CLASS_NO = #{classNO}
  	</select> -->
  	
  
  
  
  <!--/////////////////////////////////////////////////////  -->
  	<!--수강테이블 조회  -->
  	<!-- <select id="selectEnrollListByMemberNo" resultMap="enrollResultMap">
  		SELECT *
  		FROM ENROLL
  		WHERE MEMBER_NO = #{chatRoomMemberNo}
  	</select> -->
  
  	<!--채팅방 존재 확인  -->
  	<!-- <select id="selectCountByMemberNoAndAdminNo" resultType="_int">
  		SELECT COUNT(*)
  		FROM CHATROOM
  		WHERE CHATROOM_MEMBER_NO = #{chatRoomMemberNo} AND CHATROOM_ADMIN_NO = #{chatRoomAdminNo}
  	</select> -->
  
  	
  	
  	
  
  
  </mapper>