<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syi.project.mapper.club.ClubMapper">
  
  <resultMap type="com.syi.project.model.club.ClubVO" id="clubResultMap">
    <id property="clubNo" column="CLUB_NO" />
    <result property="content" column="CLUB_CONTENT" />
    <result property="join" column="CLUB_JOIN" />
    <result property="studyDate" column="CLUB_STUDY_DATE"/>
    <result property="regDate" column="CLUB_REG_DATE"/>
    <result property="checkStatus" column="CLUB_CHECK_STATUS"/>
    <result property="checkCmt" column="CLUB_CHECK_CMT"/>
    <result property="fileName" column="FILE_NAME"/>
    <result property="rn" column="RN"/>  <!-- RN 컬럼을 매핑 -->
    <association property="enroll" resultMap="enrollResultMap"/>
  </resultMap>
  
  <resultMap type="com.syi.project.model.EnrollVO" id="enrollResultMap">
    <id property="enrollNo" column="ENROLL_NO" />
    <result property="classNo" column="CLASS_NO" />
    <association property="member" resultMap="memberResultMap"/>
  </resultMap>
  
  <resultMap type="com.syi.project.model.member.MemberVO" id="memberResultMap">
    <id property="memberNo" column="MEMBER_NO"/>
    <result property="memberId" column="MEMBER_ID"/>
    <result property="memberPwd" column="MEMBER_PWD"/>
    <result property="memberName" column="MEMBER_NAME"/>
    <result property="memberBirthday" column="MEMBER_BIRTHDAY"/>
    <result property="memberGender" column="MEMBER_GENDER"/>
    <result property="memberPhone" column="MEMBER_PHONE"/>
    <result property="memberEmail" column="MEMBER_EMAIL"/>
    <result property="memberAddress" column="MEMBER_ADDRESS"/>
    <result property="memberStreetAddress" column="MEMBER_STREET_ADDRESS"/>
    <result property="memberDetailAddress" column="MEMBER_DETAIL_ADDRESS"/>
    <result property="memberNickname" column="MEMBER_NICKNAME"/>
    <result property="memberEnrollDate" column="MEMBER_ENROLL_DATE"/>
    <result property="memberCheckStatus" column="MEMBER_CHECK_STATUS"/>
    <result property="memberStatus" column="MEMBER_STATUS"/>
    <result property="memberSubType" column="MEMBER_SUB_TYPE"/>
    <result property="memberRole" column="MEMBER_ROLE"/>
  </resultMap>
  
  <resultMap type="com.syi.project.model.syclass.SyclassVO" id="classResultMap">
  		<id property="classNo" column="CLASS_NO"/>
		<result property="className" column="CLASS_NAME"/>
		<result property="description" column="description"/>
		<result property="managerName" column="manager_name"/>
		<result property="teacherName" column="teacher_name"/>
		<result property="startDate" column="start_date"/>
		<result property="endDate" column="end_date"/>
		<result property="classroomName" column="classroom_name"/>
		<result property="enrollDate" column="enroll_date"/>
		<result property="modifiedDate" column="modified_date"/>
		<result property="classStatus" column="class_status"/>
		<result property="isDeleted" column="is_deleted"/>
  </resultMap>
  

	<!-- Default classNo 가져오는 쿼리 -->
<select id="getDefaultClassNoByMember" resultType="java.lang.Integer">
    SELECT MIN(class_no) 
    FROM enroll 
    WHERE member_no = #{memberNo}
</select>

<!-- 수강 반 목록 -->
<select id="getClassNoListByMember" resultMap="classResultMap">
	SELECT c.*
	FROM enroll e
	JOIN class c ON e.class_no = c.class_no
	WHERE e.member_no = #{memberNo}
</select>

  <!-- 리스트 -->
  <!-- <select id="getList" resultMap="clubResultMap">
    SELECT 
      a.club_no,
      a.club_study_date,
      a.club_reg_date,
      a.club_check_status,
      a.club_check_cmt,
      b.member_no,
      b.enroll_no,
      c.member_name,
      a.file_name
    FROM club a 
    JOIN enroll b ON a.enroll_no = b.enroll_no
    join member c on b.member_no = c.member_no
    where c.member_status = 'Y' and b.class_no = #{classNo}
    order by a.club_reg_date desc, a.club_study_date desc
  </select> -->
  
  <!-- 등록 -->
 <insert id="enroll">
    INSERT INTO club(club_join, club_study_date, club_content, enroll_no)
    VALUES (#{join}, #{studyDate}, #{content}, 
    		(SELECT enroll_no FROM enroll WHERE class_no = #{classNo} AND member_no = #{memberNo}))
 </insert>
<!--  <insert id="enroll">
    INSERT INTO club(club_join, club_study_date, club_content, enroll_no)
    VALUES (#{join}, #{studyDate}, #{content}, 1)
  </insert> -->
  
  <!-- 조회 -->
  <select id="getPage" resultMap="clubResultMap">
  select 
  a.club_no,
  a.club_content,
  a.club_join,
      a.club_study_date,
      a.club_reg_date,
      a.club_check_status,
      a.club_check_cmt,
      c.member_name,
      c.member_no,
      a.file_name
from club a
join enroll b on a.enroll_no = b.enroll_no
join member c on b.member_no = c.member_no
where club_No = #{clubNo}
  </select>
  
  <!-- 수정 -->
  <update id="modify">
  update club 
  set club_content = #{content}, club_join = #{join}, club_study_date = #{studyDate}, club_reg_date = sysdate, file_name = #{fileName, jdbcType=VARCHAR}
  where club_no = #{clubNo}
  </update>
  
  <update id="modifyAdmin">
  update club 
  set club_check_cmt = #{checkCmt}, club_check_status = #{checkStatus, jdbcType=VARCHAR}
  where club_no = #{clubNo}
  </update>
  
  
  <!-- 삭제 -->
  <delete id="delete">
  	delete from club where club_no = #{clubNo}
  </delete>
  <delete id="deleteAdmin">
  	delete from club where club_no = #{clubNo}
  </delete>
  
  
  <!-- 게시물 목록(페이징) -->
  <select id="getListPaging" resultMap="clubResultMap">
  <![CDATA[
      SELECT 
      A.RN,
      A.CLUB_NO,
      A.CLUB_STUDY_DATE,
      A.CLUB_REG_DATE,
      A.CLUB_CHECK_STATUS,
      A.CLUB_CHECK_CMT,
      A.MEMBER_NO,
      A.ENROLL_NO,
      A.MEMBER_NAME,
      A.FILE_NAME,
      A.CLUB_JOIN
    FROM (
    	SELECT 
	      A.CLUB_NO,
	      A.CLUB_STUDY_DATE,
	      A.CLUB_REG_DATE,
	      A.CLUB_CHECK_STATUS,
	      A.CLUB_CHECK_CMT,
	      B.MEMBER_NO,
	      B.ENROLL_NO,
	      C.MEMBER_NAME,
	      A.FILE_NAME,
	      A.CLUB_JOIN,
	      ROW_NUMBER() OVER (ORDER BY A.CLUB_REG_DATE DESC, A.CLUB_STUDY_DATE DESC) AS RN
      	FROM 
        	CLUB A 
        	JOIN ENROLL B ON A.ENROLL_NO = B.ENROLL_NO
        	JOIN MEMBER C ON B.MEMBER_NO = C.MEMBER_NO
      	WHERE 
        	C.MEMBER_STATUS = 'Y' AND B.CLASS_NO = #{classNo}
    ]]>
      <if test="cri.keyword != null">
        <include refid="criteria"></include>
      </if>
      <![CDATA[
    ) A
    WHERE 
      RN > (#{cri.pageNum} - 1) * #{cri.amount}
      AND RN <= #{cri.pageNum} * #{cri.amount}
  ]]>
  </select>

  <!-- 게시물 총 갯수 -->
  <select id="getTotal" resultType="int">
  	select count(*) 
  	from club A
  	JOIN ENROLL B ON A.ENROLL_NO = B.ENROLL_NO
    JOIN MEMBER C ON B.MEMBER_NO = C.MEMBER_NO
  	where C.MEMBER_STATUS = 'Y' AND B.CLASS_NO = #{classNo}
  	<if test="cri.keyword != null">
  		and A.club_no > 0 <include refid="criteria"></include>
  	</if>
  </select>
  
  <!-- 검색 조건문 -->
  <sql id="criteria">
  
  <choose>
  <when test="cri.type == 'W'.toString()">
  	AND C.MEMBER_NAME like '%'||#{cri.keyword}||'%'
  </when>
  <when test="cri.type == 'J'.toString()">
  	AND A.CLUB_JOIN like '%'||#{cri.keyword}||'%'
  </when>
  <when test="cri.type == 'C'.toString()">
  	AND A.CLUB_CHECK_STATUS like '%'||#{cri.keyword}||'%'
  </when>
  <!-- <when test="cri.type == 'C'.toString()">
      여기서 검색어를 '대기', '승인', '미승인'으로 변환하는 로직 추가
      AND A.CLUB_CHECK_STATUS = 
        <choose>
          <when test="cri.keyword == '대기'"> 'W' </when>
          <when test="cri.keyword == '승인'"> 'Y' </when>
          <when test="cri.keyword == '미승인'"> 'N' </when>
          <otherwise> '' </otherwise>
        </choose>
    </when> -->
  </choose>

  
  </sql>
  
  <!-- 검색 조건문 -->
  <!-- 
  <sql id="criteria">
  <trim prefix="AND (" suffix=")" prefixOverrides="OR">
  <foreach collection="typeArr" item="type">
  <trim prefix="OR">
  <choose>
  <when test="cri.type == 'W'.toString()">
  	C.MEMBER_NAME like '%'||#{cri.keyword}||'%'
  </when>
  <when test="cri.type == 'J'.toString()">
  	A.CLUB_JOIN like '%'||#{cri.keyword}||'%'
  </when>
  <when test="cri.type == 'C'.toString()">
  	A.CLUB_CHECK_STATUS like '%'||#{cri.keyword}||'%'
  </when>
  </choose>
  </trim>
  </foreach>
  </trim>
  
  </sql>
   -->
</mapper>
