<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.syi.project.mapper.board.BoardMapper">
  	<resultMap id="BoardResultMap" type="com.syi.project.model.board.BoardVO">
         <id property="boardNo" column="BOARD_NO"/>
	    <result property="boardTitle" column="BOARD_TITLE"/>
	    <result property="boardContent" column="BOARD_CONTENT"/>
	    <result property="boardRegDate" column="BOARD_REG_DATE"/>
	    <result property="boardModifyDate" column="BOARD_MODIFY_DATE"/>
	    <result property="boardCount" column="BOARD_COUNT"/>
	    <result property="boardHeartCount" column="BOARD_HEART_COUNT"/>
	    <result property="boardCommentsCount" column="BOARD_COMMENTS_COUNT"/>
	    <result property="boardStatus" column="BOARD_STATUS"/>
	    <result property="boardMemberNo" column="BOARD_MEMBER_NO"/>
	    <association property="member" resultMap="memberResultMap"/>
	    <collection property="commentsList" resultMap="CommentResultMap"/>
    </resultMap>

    <resultMap id="CommentResultMap" type="com.syi.project.model.board.CommentsVO">
        <id property="commentNo" column="COMMENT_NO"/>
	    <result property="commentParentNo" column="COMMENT_PARENT_NO"/>
	    <result property="commentContent" column="COMMENT_CONTENT"/>
	    <result property="commentRegDate" column="COMMENT_REG_DATE"/>
	    <result property="commentModifyDate" column="COMMENT_MODIFY_DATE"/>
	    <result property="commentStatus" column="COMMENT_STATUS"/>
	    <result property="commentMemberNo" column="COMMENT_MEMBER_NO"/>
	    <result property="commentBoardNo" column="COMMENT_BOARD_NO"/>
	    <association property="member" resultMap="memberResultMap"/>
    </resultMap>

    <resultMap id="HeartResultMap" type="com.syi.project.model.board.HeartVO">
         <id property="heartId" column="HEART_ID"/>
	    <result property="heartRegDate" column="HEART_REG_DATE"/>
	    <result property="heartMemberNo" column="HEART_MEMBER_NO"/>
	    <result property="heartBoardNo" column="HEART_BOARD_NO"/>
    </resultMap>

    <resultMap id="BoardFileResultMap" type="com.syi.project.model.board.BoardFileVO">
        <id property="fileNo" column="FILE_NO"/>
        <result property="fileOriginalName" column="FILE_ORIGINAL_NAME"/>
	    <result property="fileSavedName" column="FILE_SAVED_NAME"/>
	    <result property="fileType" column="FILE_TYPE"/>
	    <result property="fileSize" column="FILE_SIZE"/>
	    <result property="filePath" column="FILE_PATH"/>
	    <result property="fileRegDate" column="FILE_REG_DATE"/>
	    <result property="fileBoardNo" column="FILE_BOARD_NO"/>
    </resultMap>
    
    <resultMap type="com.syi.project.model.member.MemberVO" id="memberResultMap">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberPwd" column="MEMBER_PWD"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberBirthday" column="MEMBER_BIRTHDAY"/>
		<result property="memberGender" column="MEMBER_GENDER"/>
		<result property="memberPhone" column="MEMBER_PHONE"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberAddress" column="MEMBER_ADDRESS"/>
		<result property="memberStreetAddress" column="MEMBER_STREET_ADDRESS"/>
		<result property="memberDetailAddress" column="MEMBER_DETAIL_ADDRESS"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
		<result property="memberEnrollDate" column="MEMBER_ENROLL_DATE"/>
		<result property="memberCheckStatus" column="MEMBER_CHECK_STATUS"/>
		<result property="memberStatus" column="MEMBER_STATUS"/>
		<result property="memberSubType" column="MEMBER_SUB_TYPE"/>
		<result property="memberRole" column="MEMBER_ROLE"/>
	</resultMap>
    
    <!-- 게시판 목록 -->
    <select id="selectBoards" resultMap="BoardResultMap">
    <![CDATA[
	    SELECT BOARD.*, MEMBER.*
	    FROM (
	        SELECT BOARD.*,
	               ROW_NUMBER() OVER (
	                   ORDER BY BOARD_REG_DATE DESC
	               ) AS RN
	        FROM BOARD
	        LEFT JOIN MEMBER ON BOARD.BOARD_MEMBER_NO = MEMBER.MEMBER_NO
	        WHERE BOARD.BOARD_STATUS = 'Y'
	    ) BOARD
	    LEFT JOIN MEMBER ON BOARD.BOARD_MEMBER_NO = MEMBER.MEMBER_NO
	    WHERE RN > (#{pageNum} - 1) * #{amount}
	      AND RN <= #{pageNum} * #{amount}
	    ]]>
	    <if test="keyword != null and keyword.trim() != ''">
	        AND BOARD.BOARD_TITLE LIKE '%' || #{keyword} || '%'
	    </if>
	</select>

    <!-- 게시글 총 수 -->
    <select id="selectBoardTotal" resultType="int">
	    SELECT COUNT(*)
	    FROM BOARD
	    WHERE BOARD_STATUS = 'Y'
	    <if test="keyword != null and keyword.trim() != ''">
	        AND (BOARD_TITLE LIKE '%' || #{ keyword } || '%')
	    </if>
	</select>
    
    <!-- 게시글 조회수 증가 -->
  	<update id="updateBoardCount">
  		UPDATE BOARD
  		SET BOARD_COUNT = BOARD_COUNT + 1
  		WHERE BOARD_NO = #{ boardNo }
  	</update>
  	
  	<!-- 게시글 상세 조회 -->
  	<select id="selectBoardByBoardNo" parameterType="_int" resultMap="BoardResultMap">
  		SELECT b.*, m.*
    	FROM BOARD b
    		LEFT JOIN MEMBER m ON b.BOARD_MEMBER_NO = m.MEMBER_NO
    	WHERE b.BOARD_NO = #{ boardNo }
  	</select>
  	
  	<!-- 게시글 등록  -->
  	<insert id="insertBoard" parameterType="com.syi.project.model.board.BoardVO">
    	INSERT INTO BOARD (BOARD_TITLE, BOARD_CONTENT, BOARD_MEMBER_NO)
   		VALUES (#{ boardTitle }, #{ boardContent }, #{ boardMemberNo })
	</insert>
  	
  	 <!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="com.syi.project.model.board.BoardVO">
        UPDATE BOARD
        SET BOARD_TITLE = #{ boardTitle },
            BOARD_CONTENT = #{ boardContent },
            BOARD_MODIFY_DATE = SYSDATE
        WHERE BOARD_NO = #{ boardNo }
    </update>
    
	<!-- 게시글 삭제 -->
	<update id="deleteBoard" parameterType="com.syi.project.model.board.BoardVO">
		UPDATE BOARD
		SET BOARD_STATUS = 'N'
		WHERE BOARD_NO = #{ boardNo }
	</update>
	
	<!-- 좋아요 -->
	<!-- 좋아요 추가 -->
	<insert id="insertHeart" parameterType="com.syi.project.model.board.HeartVO">
    	INSERT INTO HEART (HEART_BOARD_NO, HEART_MEMBER_NO)
    	VALUES (#{ heartBoardNo }, #{ heartMemberNo })
    </insert>
    
    <!-- 좋아요 확인 -->
    <select id="selectMyHeart" resultType="_int">
    	SELECT COUNT(*)
    	FROM HEART
    	WHERE HEART_BOARD_NO = #{ heartBoardNo }
    		AND HEART_MEMBER_NO = #{ heartMemberNo }
    </select>
    
    <!-- 좋아요 취소 -->
    <delete id="deleteHeart">
    	DELETE
    	FROM HEART
    	WHERE HEART_BOARD_NO = #{ heartBoardNo }
    		AND HEART_MEMBER_NO = #{ heartMemberNo }
    </delete>
    
    <!-- 좋아요 총 갯수 -->
    <select id="selectHeartTotal" resultType="_int">
    	SELECT COUNT(*)
    	FROM HEART
    	WHERE HEART_BOARD_NO = #{ heartBoardNo }
    </select>
  
  </mapper>