<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.syi.project.mapper.board.CommentMapper">

	<resultMap id="CommentResultMap" type="com.syi.project.model.board.CommentsVO">
        <id property="commentNo" column="COMMENT_NO"/>
        <result property="commentParentNo" column="COMMENT_PARENT_NO"/>
	    <result property="commentContent" column="COMMENT_CONTENT"/>
	    <result property="commentRegDate" column="COMMENT_REG_DATE"/>
	    <result property="commentModifyDate" column="COMMENT_MODIFY_DATE"/>
	    <result property="commentStatus" column="COMMENT_STATUS"/>
	    <result property="commentMemberNo" column="COMMENT_MEMBER_NO"/>
	    <result property="commentBoardNo" column="COMMENT_BOARD_NO"/>
	    <association property="member" resultMap="memberResultMap"/>
    </resultMap>

	<resultMap id="BoardResultMap" type="com.syi.project.model.board.BoardVO">
         <id property="boardNo" column="BOARD_NO"/>
        <result property="boardTitle" column="BOARD_TITLE"/>
	    <result property="boardContent" column="BOARD_CONTENT"/>
	    <result property="boardRegDate" column="BOARD_REG_DATE"/>
	    <result property="boardModifyDate" column="BOARD_MODIFY_DATE"/>
	    <result property="boardCount" column="BOARD_COUNT"/>
	    <result property="boardHeartCount" column="BOARD_HEART_COUNT"/>
	    <result property="boardCommentsCount" column="BOARD_COMMENTS_COUNT"/>
	    <result property="boardStatus" column="BOARD_STATUS"/>
	    <result property="boardMemberNo" column="BOARD_MEMBER_NO"/>
        <association property="member" resultMap="memberResultMap"/>
		<collection property="commentsList" resultMap="CommentResultMap"/>
    </resultMap>

    <resultMap id="HeartResultMap" type="com.syi.project.model.board.HeartVO">
        <id property="heartId" column="HEART_ID"/>
        <result property="heartRegDate" column="HEART_REG_DATE"/>
	    <result property="heartMemberNo" column="HEART_MEMBER_NO"/>
	    <result property="heartBoardNo" column="HEART_BOARD_NO"/>
    </resultMap>

    <resultMap id="BoardFileResultMap" type="com.syi.project.model.board.BoardFileVO">
        <id property="fileNo" column="FILE_NO"/>
        <result property="fileOriginalName" column="FILE_ORIGINAL_NAME"/>
	    <result property="fileSavedName" column="FILE_SAVED_NAME"/>
	    <result property="fileType" column="FILE_TYPE"/>
	    <result property="fileSize" column="FILE_SIZE"/>
	    <result property="filePath" column="FILE_PATH"/>
	    <result property="fileRegDate" column="FILE_REG_DATE"/>
	    <result property="fileBoardNo" column="FILE_BOARD_NO"/>
    </resultMap>
    
    <resultMap type="com.syi.project.model.member.MemberVO" id="memberResultMap">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberPwd" column="MEMBER_PWD"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberBirthday" column="MEMBER_BIRTHDAY"/>
		<result property="memberGender" column="MEMBER_GENDER"/>
		<result property="memberPhone" column="MEMBER_PHONE"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberAddress" column="MEMBER_ADDRESS"/>
		<result property="memberStreetAddress" column="MEMBER_STREET_ADDRESS"/>
		<result property="memberDetailAddress" column="MEMBER_DETAIL_ADDRESS"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
		<result property="memberEnrollDate" column="MEMBER_ENROLL_DATE"/>
		<result property="memberCheckStatus" column="MEMBER_CHECK_STATUS"/>
		<result property="memberStatus" column="MEMBER_STATUS"/>
		<result property="memberSubType" column="MEMBER_SUB_TYPE"/>
		<result property="memberRole" column="MEMBER_ROLE"/>
	</resultMap>


	<!-- 댓글 생성 -->
	<insert id="insertComment" parameterType="com.syi.project.model.board.CommentsVO">
		INSERT INTO COMMENTS (COMMENT_BOARD_NO, COMMENT_MEMBER_NO, COMMENT_PARENT_NO, COMMENT_CONTENT)
		VALUES (#{ commentBoardNo }, #{ commentMemberNo }, #{ commentParentNo }, #{ commentContent })
	</insert>
	
	<!-- 댓글 조회 -->
	<select id="selectCommentList" resultMap="CommentResultMap">
		SELECT C.*, M.*
	    FROM COMMENTS C
	    LEFT JOIN MEMBER M ON C.COMMENT_MEMBER_NO = M.MEMBER_NO
	    WHERE C.COMMENT_BOARD_NO = #{ commentBoardNo } 
	        AND C.COMMENT_STATUS = 'Y'
	    ORDER BY COMMENT_REG_DATE DESC
	</select>
	
	<!-- 댓글 총 갯수 -->
	<select id="selectCommentTotal" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
    	FROM COMMENTS
    	WHERE COMMENT_BOARD_NO = #{ commentBoardNo }
    		AND COMMENT_STATUS = 'Y'
	</select>
	
	<!-- 댓글 수정 -->
	<update id="updateComment" parameterType="com.syi.project.model.board.CommentsVO">
		UPDATE COMMENTS
		SET
			COMMENT_CONTENT = #{ commentContent },
			COMMENT_MODIFY_DATE = SYSDATE
		WHERE COMMENT_NO = #{ commentNo }
	</update>
	
	<!-- 댓글 삭제  -->
	<delete id="deleteComment" parameterType="_int">
		DELETE FROM COMMENTS WHERE COMMENT_NO = #{ commentNo }
	</delete>


</mapper>
  