<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.syi.project.mapper.board.CommentMapper">

	<resultMap id="CommentResultMap" type="com.syi.project.model.board.CommentsVO">
        <id column="COMMENTS_NO" property="commentsNo"/>
        <result column="COMMENTS_PARENT_NO" property="commentsParentNo"/>
        <result column="COMMENT" property="comment"/>
        <result column="COMMENT_REG_DATE" property="commentRegDate"/>
        <result column="COMMENT_MODIFY_DATE" property="commentModifyDate"/>
        <result column="COMMENT_STATUS" property="commentStatus"/>
        <result column="COMMENT_MEMBER_NO" property="commentMemberNo"/>
        <result column="COMMENT_BOARD_NO" property="commentBoardNo"/>
    </resultMap>

	<resultMap id="BoardResultMap" type="com.syi.project.model.board.BoardVO">
        <id column="BOARD_NO" property="boardNo"/>
        <result column="BOARD_TITLE" property="boardTitle"/>
        <result column="BOARD_CONTENT" property="boardContent"/>
        <result column="BOARD_REG_DATE" property="boardRegDate"/>
        <result column="BOARD_MODIFY_DATE" property="boardModifyDate"/>
        <result column="BOARD_COUNT" property="boardCount"/>
        <result column="BOARD_HEART_COUNT" property="boardHeartCount"/>
        <result column="BOARD_COMMENTS_COUNT" property="boardCommentsCount"/>
        <result column="BOARD_STATUS" property="boardStatus"/>
        <result column="BOARD_MEMBER_NO" property="boardMemberNo"/>
        <association property="member" resultMap="memberResultMap"/>
		<collection property="commentsList" resultMap="CommentResultMap"/>
    </resultMap>

    <resultMap id="HeartResultMap" type="com.syi.project.model.board.HeartVO">
        <id column="HEART_ID" property="heartId"/>
        <result column="HEART_REG_DATE" property="heartRegDate"/>
        <result column="HEART_MEMBER_NO" property="heartMemberNo"/>
        <result column="HEART_BOARD_NO" property="heartBoardNo"/>
    </resultMap>

    <resultMap id="BoardFileResultMap" type="com.syi.project.model.board.BoardFileVO">
        <id column="FILE_NO" property="fileNo"/>
        <result column="FILE_ORIGINAL_NAME" property="fileOriginalName"/>
        <result column="FILE_SAVED_NAME" property="fileSavedName"/>
        <result column="FILE_TYPE" property="fileType"/>
        <result column="FILE_SIZE" property="fileSize"/>
        <result column="FILE_PATH" property="filePath"/>
        <result column="FILE_REG_DATE" property="fileRegDate"/>
        <result column="FILE_BOARD_NO" property="fileBoardNo"/>
    </resultMap>
    
    <resultMap type="com.syi.project.model.member.MemberVO" id="memberResultMap">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberPwd" column="MEMBER_PWD"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberBirthday" column="MEMBER_BIRTHDAY"/>
		<result property="memberGender" column="MEMBER_GENDER"/>
		<result property="memberPhone" column="MEMBER_PHONE"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberAddress" column="MEMBER_ADDRESS"/>
		<result property="memberStreetAddress" column="MEMBER_STREET_ADDRESS"/>
		<result property="memberDetailAddress" column="MEMBER_DETAIL_ADDRESS"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
		<result property="memberEnrollDate" column="MEMBER_ENROLL_DATE"/>
		<result property="memberCheckStatus" column="MEMBER_CHECK_STATUS"/>
		<result property="memberStatus" column="MEMBER_STATUS"/>
		<result property="memberSubType" column="MEMBER_SUB_TYPE"/>
		<result property="memberRole" column="MEMBER_ROLE"/>
	</resultMap>


	<!-- 댓글 생성 -->
	<insert id="insertComment" parameterType="com.syi.project.model.board.CommentsVO">
		INSERT INTO COMMENTS (COMMENT_BOARD_NO, COMMENT_MEMBER_NO, COMMENT)
		VALUES (#{ commentBoardNo }, #{ commentMemberNo }, #{ comment })
	</insert>
	
	<!-- 댓글 조회 -->
	<select id="selectCommentList" resultMap="CommentResultMap">
		SELECT * 
		FROM COMMENTS
		WHERE COMMENTS_BOARD_NO = #{ commentBoardNo } 
			AND COMMENTS_STATUS = 'Y'
	</select>
	
	<!-- 댓글 수정 -->
	<update id="updateComment" parameterType="com.syi.projcet.model.board.CommentsVO">
		UPDATE COMMENTS
		SET
			COMMENT = #{ comment },
			COMMENT_MODIFY_DATE = SYSDATE,
		WHERE COMMENTS_NO = #{ commentsNo }
	</update>
	
	<!-- 댓글 삭제  -->
	<delete id="deleteComment" parameterType="_int">
		DELETE FROM COMMENTS WHERE COMMENT_ID = #{ commentId }
	</delete>


</mapper>
  