<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.syi.project.mapper.journal.EduScheduleMapper">

	<resultMap id="EduScheduleResultMap" type="com.syi.project.model.journal.EduScheduleVO">
		<id property="scheduleNo" column="SCHEDULE_NO" />
		<result property="scheduleDate" column="SCHEDULE_DATE" />
		<result property="scheduleRegDate" column="SCHEDULE_REGDATE" />
		<result property="scheduleModifyDate" column="SCHEDULE_MODIFYDATE" />
		<result property="scheduleTitle" column="SCHEDULE_TITLE" />
		<result property="scheduleDescription" column="SCHEDULE_DESCRIPTION" />
		<result property="scheduleInstructor" column="SCHEDULE_INSTRUCTOR" />
		<association property="syclass" resultMap="classResultMap" />
		<association property="member" resultMap="memberResultMap" />
	</resultMap>

	<resultMap id="classResultMap" type="com.syi.project.model.syclass.SyclassVO">
		<id property="classNo" column="CLASS_NO" />
		<result property="className" column="CLASS_NAME" />
		<result property="description" column="DESCRIPTION" />
		<result property="managerName" column="MANAGER_NAME" />
		<result property="teacherName" column="TEACHER_NAME" />
		<result property="startDate" column="START_DATE" />
		<result property="endDate" column="END_DATE" />
		<result property="classroomName" column="CLASSROOM_NAME" />
		<result property="enrollDate" column="ENROLL_DATE" />
		<result property="modifiedDate" column="MODIFIED_DATE" />
		<result property="classStatus" column="CLASS_STATUS" />
	</resultMap>

	<resultMap id="memberResultMap" type="com.syi.project.model.member.MemberVO">
		<id property="memberNo" column="MEMBER_NO" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="memberPwd" column="MEMBER_PWD" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="memberBirthday" column="MEMBER_BIRTHDAY" />
		<result property="memberGender" column="MEMBER_GENDER" />
		<result property="memberPhone" column="MEMBER_PHONE" />
		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberAddress" column="MEMBER_ADDRESS" />
		<result property="memberStreetAddress" column="MEMBER_STREET_ADDRESS" />
		<result property="memberDetailAddress" column="MEMBER_DETAIL_ADDRESS" />
		<result property="memberNickname" column="MEMBER_NICKNAME" />
		<result property="memberEnrollDate" column="MEMBER_ENROLL_DATE" />
		<result property="memberCheckStatus" column="MEMBER_CHECK_STATUS" />
		<result property="memberStatus" column="MEMBER_STATUS" />
		<result property="memberSubType" column="MEMBER_SUB_TYPE" />
		<result property="memberRole" column="MEMBER_ROLE" />
	</resultMap>

	<!-- 교육 일정 등록 (수정됨: 반 정보 추가) -->
	<insert id="scheduleCreate" parameterType="com.syi.project.model.journal.EduScheduleVO" useGeneratedKeys="true" keyProperty="scheduleNo">
		INSERT INTO EDU_SCHEDULE (SCHEDULE_DATE, SCHEDULE_TITLE, SCHEDULE_DESCRIPTION, SCHEDULE_INSTRUCTOR, CLASS_NO, MEMBER_NO)
		VALUES (#{scheduleDate}, #{scheduleTitle}, #{scheduleDescription}, #{scheduleInstructor}, #{syclass.classNo}, #{memberNo})
	</insert>

	<!-- 교육 일정 전체 조회 (페이징, 검색, 반별 필터링) -->
	<select id="scheduleList" resultMap="EduScheduleResultMap">
	    <![CDATA[
	    SELECT * 
	    FROM (
	        SELECT rn, SCHEDULE_NO, SCHEDULE_DATE, SCHEDULE_TITLE, SCHEDULE_DESCRIPTION, SCHEDULE_INSTRUCTOR, CLASS_NO
	        FROM (
	            SELECT es.SCHEDULE_NO, es.SCHEDULE_DATE, es.SCHEDULE_TITLE, es.SCHEDULE_DESCRIPTION, es.SCHEDULE_INSTRUCTOR, es.CLASS_NO,
	                   ROW_NUMBER() OVER (
	                       ORDER BY 
	                           CASE
	                               WHEN es.CLASS_NO = #{classNo} THEN 1
	                               WHEN es.CLASS_NO IS NULL THEN 2
	                               ELSE 3
	                           END,
	                           es.SCHEDULE_DATE DESC
	                   ) AS rn
	            FROM EDU_SCHEDULE es
	            WHERE 1=1
	            AND (es.CLASS_NO = #{classNo} OR es.CLASS_NO IS NULL)
	        ) AS subquery_alias  -- 서브쿼리 별칭 추가
	        WHERE rn > (#{cri.pageNum} - 1) * #{cri.amount} AND rn <= #{cri.pageNum} * #{cri.amount}
	    ) AS main_alias  -- 메인 쿼리 별칭 추가
	    ]]>
	        <!-- 검색 조건 -->
			<if test="cri.category == 'title'">
				AND UPPER(es.SCHEDULE_TITLE) LIKE UPPER(CONCAT('%', #{cri.keyword}, '%'))
			</if>
			<if test="cri.category == 'description'">
				AND UPPER(es.SCHEDULE_DESCRIPTION) LIKE UPPER(CONCAT('%', #{cri.keyword}, '%'))
			</if>
			<if test="cri.category == 'instructor'">
				AND UPPER(es.SCHEDULE_INSTRUCTOR) LIKE UPPER(CONCAT('%', #{cri.keyword}, '%'))
			</if>
			<if test="cri.category == 'all'">
				AND (UPPER(es.SCHEDULE_TITLE) LIKE UPPER(CONCAT('%', #{cri.keyword}, '%'))
				OR UPPER(es.SCHEDULE_DESCRIPTION) LIKE UPPER(CONCAT('%', #{cri.keyword}, '%'))
				OR UPPER(es.SCHEDULE_INSTRUCTOR) LIKE UPPER(CONCAT('%', #{cri.keyword}, '%')))
			</if>
			<if test="cri.year != null and cri.year != ''">
				AND YEAR(es.SCHEDULE_DATE) = #{cri.year}
			</if>
			<if test="cri.month != null and cri.month != ''">
				AND MONTH(es.SCHEDULE_DATE) = #{cri.month}
			</if>
	</select>


	<!-- 교육 일정 총 갯수 조회 (반별 필터링) -->
	<select id="scheduleGetTotal" resultType="int">
		SELECT COUNT(*)
		FROM EDU_SCHEDULE es
		WHERE 1=1
		AND (es.CLASS_NO = #{classNo} OR es.CLASS_NO IS NULL)
		<if test="cri.category == 'title'">
			AND UPPER(es.SCHEDULE_TITLE) LIKE UPPER(CONCAT('%', #{cri.keyword}, '%'))
		</if>
		<if test="cri.category == 'description'">
			AND UPPER(es.SCHEDULE_DESCRIPTION) LIKE UPPER(CONCAT('%', #{cri.keyword}, '%'))
		</if>
		<if test="cri.category == 'instructor'">
			AND UPPER(es.SCHEDULE_INSTRUCTOR) LIKE UPPER(CONCAT('%', #{cri.keyword}, '%'))
		</if>
		<if test="cri.category == 'all'">
			AND (UPPER(es.SCHEDULE_TITLE) LIKE UPPER(CONCAT('%', #{cri.keyword}, '%'))
			OR UPPER(es.SCHEDULE_DESCRIPTION) LIKE UPPER(CONCAT('%', #{cri.keyword}, '%'))
			OR UPPER(es.SCHEDULE_INSTRUCTOR) LIKE UPPER(CONCAT('%', #{cri.keyword}, '%')))
		</if>
		<if test="cri.year != null and cri.year != ''">
			AND YEAR(es.SCHEDULE_DATE) = #{cri.year}
		</if>
		<if test="cri.month != null and cri.month != ''">
			AND MONTH(es.SCHEDULE_DATE) = #{cri.month}
		</if>
	</select>

	<!-- 교육 일정 상세 조회 -->
	<select id="scheduleDetail" resultMap="EduScheduleResultMap">
		SELECT * FROM EDU_SCHEDULE
		WHERE SCHEDULE_NO = #{scheduleNo}
	</select>

	<!-- 교육 일정 수정 (반 정보 추가) -->
	<update id="scheduleUpdate" parameterType="com.syi.project.model.journal.EduScheduleVO">
		UPDATE EDU_SCHEDULE
		SET SCHEDULE_DATE = #{scheduleDate},
		SCHEDULE_TITLE = #{scheduleTitle},
		SCHEDULE_DESCRIPTION = #{scheduleDescription},
		SCHEDULE_INSTRUCTOR = #{scheduleInstructor}
		WHERE SCHEDULE_NO = #{scheduleNo}
	</update>

	<!-- 교육 일정 삭제 -->
	<delete id="scheduleDelete">
		DELETE FROM EDU_SCHEDULE WHERE SCHEDULE_NO = #{scheduleNo}
	</delete>

	<!-- 캘린더 전체 일정 조회 쿼리 (반별 필터링 추가) -->
	<select id="scheduleAllList" resultMap="EduScheduleResultMap">
		SELECT * FROM EDU_SCHEDULE
		<where>
			<if test="classNo != null and classNo != ''">
				CLASS_NO = #{classNo}
			</if>
		</where>
	</select>

</mapper>
